$icon-margin: 0.5rem;

#app-manager-root {
    padding: 1rem 1.5rem;
}

h1 {
    margin-bottom: 1.5rem;
}

.icon-left {
    margin-right: $icon-margin;
}

.icon-right {
    margin-left: $icon-margin;
}
