<div class="container">
    <div #appModal></div>
    <errors #errors></errors>
    <h1>All Applications</h1>
    <div class="alert alert-danger" *ngIf="error">
        {{error.message}}
    </div>
    <button class="btn btn-sm btn-primary" (click)="createApp()">
        <i class="fa fa-plus"></i> Add Application
    </button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Application</th>
                <th>Latest Version</th>         
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of apps">
                <td>{{ app.name }}</td>
                <td>{{ app.latestVersion }}</td>
                <td>
                    <button class="btn btn-sm btn-warning" (click)="updateVersion(app)">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Update Version
                    </button>
                    <button class="btn btn-sm btn-primary" (click)="editApp(app)">
                        <i class="fa fa-edit" aria-hidden="true"></i> Edit
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteApp(app)">
                        <i class="fa fa-trash"></i> Delete
                    </button>              
                </td>
            </tr>
        </tbody>
    </table>
</div>