<div bsModal #modal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ title }}</h3>        
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <ul *ngFor="let errorsByField of errors">
                        <li *ngFor="let error of errorsByField.errors">{{ error }}</li>
                    </ul>
                </div>
                <tabset>
                    <tab heading="Application" active="true">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" id="name" class="form-control" [(ngModel)]="app.name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="website_url" class="col-sm-3 control-label">Website-URL</label>
                                <div class="col-sm-6">
                                    <input type="text" id="website_url" class="form-control" placeholder="http://" [(ngModel)]="app.websiteUrl" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="download_url" class="col-sm-3 control-label">Download-URL</label>
                                <div class="col-sm-6">
                                    <input type="text" id="download_url" class="form-control" placeholder="http://" [(ngModel)]="app.downloadUrl" />
                                </div>
                            </div>                
                        </div>
                    </tab>
                    <tab heading="Version Provider">
                        <div class="form-horizontal"> 
                            <div class="form-group">
                                <label for="version_provider_type" class="col-sm-3 control-label">Version Provider</label>
                                <div class="col-sm-6">
                                    <select type="text" id="version_provider_type" class="form-control" [(ngModel)]="app.versionProviderType" (ngModelChange)="versionProviderTypeChanged($event)">
                                        <option *ngFor="let versionProvider of versionProviderTypes" [value]="versionProvider.id">{{versionProvider.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div #versionProvider></div>
                        </div>   
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="save()">
                    <i class="fa fa-check"></i> Save Application
                </button>
                <button class="btn btn-default" (click)="cancel()">
                    <i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>