@import "../base/_variables.scss";

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        border-bottom: 1px solid $border-color;
    }

    tbody {
        tr {
            transition: background-color .25s ease;
        }

        tr:hover {
            background-color: $light-grey;
        }
    }

    th, td {
        display: table-cell;
        border: none;
        text-align: left;
        vertical-align: middle;
        padding: 5px 15px;
    }

    th {
        font-weight: bold;
    }
}